.container {
  max-width: 120rem;
  margin: 0rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-dark);
  min-height: 20rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  font-size: 1.4rem;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; //grow-shrink-basis (basis=width)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  display: flex;
}

.hotel-view {
  flex: 1; //set flex grow so that the item takes up all of the available space

  //test
  height: 80rem;
  background-color: green;
}
